---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import InfoOverlay from '../components/InfoOverlay.tsx';
import SelectedWork from '../components/SelectedWork.tsx';
import SelectedWork_Mobile_Images from '../components/SelectedWork_Mobile_Images.tsx';
import SelectedWork_Mobile_Labels from '../components/SelectedWork_Mobile_Labels.tsx';
---

<Layout title="Bao Ngoc">
    <style>
        body { background: #fff; }
    </style>

    <Nav />
    <InfoOverlay client:load />

    <div class="desktop">
        <SelectedWork client:load />
    </div>
    <div class="mobile">
        <SelectedWork_Mobile_Images client:load />
    </div>

    <SelectedWork_Mobile_Labels client:load />
</Layout>