---
import Layout from '../../layouts/Layout.astro';
import NavProject from '../../components/NavProject.astro';
import InfoOverlay from '../../components/InfoOverlay.tsx';
import ProjectDetails_DressingTheScreen from '../../components/ProjectDetails_DressingTheScreen.tsx';
import ProjectDetails_DressingTheScreen_Mobile from '../../components/ProjectDetails_DressingTheScreen_Mobile.tsx';
import ScrollGallery_DressingTheScreen from '../../components/ScrollGallery_DressingTheScreen.tsx';
import ScrollTop_DAD from '../../components/ScrollTop_DAD.tsx';
import ProjectLabels_DressingTheScreen from '../../components/ProjectLabels_DressingTheScreen.tsx';
import ProjectLabels_DressingTheScreen_Mobile from '../../components/ProjectLabels_DressingTheScreen_Mobile.tsx';
---

<Layout title="Dressing the Screen — Bao Ngoc">
    <style>
        .prev-project {
            position: fixed;
            bottom: 10px;
            left: 10px;
            font-family: 'Coordinates Variable', sans-serif;
            font-size: 10px;
            font-weight: 300;
            letter-spacing: 0em;
            line-height: 12px;
            color: rgb(116, 116, 116);
            text-decoration: none;
            z-index: 100;
        }
        .next-project {
            position: fixed;
            bottom: 10px;
            right: 10px;
            font-family: 'Coordinates Variable', sans-serif;
            font-size: 10px;
            font-weight: 300;
            letter-spacing: 0em;
            line-height: 12px;
            color: rgb(116, 116, 116);
            text-decoration: none;
            z-index: 100;
        }
        .back-to-top-wrapper {
            position: fixed;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 100;
        }
    </style>

    <NavProject projectDetails="Project Details" />
    <InfoOverlay client:load />
    <ScrollGallery_DressingTheScreen client:load />
    <ProjectDetails_DressingTheScreen client:load />
    <ProjectDetails_DressingTheScreen_Mobile client:load />
    <ProjectLabels_DressingTheScreen client:load />
    <ProjectLabels_DressingTheScreen_Mobile client:load />

    <div class="back-to-top-wrapper">
        <ScrollTop_DAD client:load />
    </div>
    <a href="/projects/unboxed-magazine" class="prev-project">Previous Project</a>
    <a href="/projects/dazed-magazine" class="next-project">Next Project</a>
</Layout>